In [1]:
import pandas as pd

# Load CSV into DataFrame
df = pd.read_csv("C:\\Users\\Administrator\\historical_data.csv")

# Preview the first 5 rows
print(df.head())

              datetime      open      high      low     close  volume
0  2020-11-27 00:00:00  12155.75  12159.25  12151.0  12152.25     121
1  2020-11-27 00:01:00  12151.50  12154.50  12151.5  12153.25      65
2  2020-11-27 00:02:00  12154.00  12158.25  12154.0  12158.00      66
3  2020-11-27 00:03:00  12157.50  12158.00  12155.0  12155.00      35
4  2020-11-27 00:04:00  12154.75  12155.00  12154.0  12154.00      35

In [3]:
df.duplicated().sum()

np.int64(2)

In [4]:
count = int(df.duplicated().sum())
print(count)   # 2

2

In [10]:
df_existing = pd.read_csv("C:\\Users\\Administrator\\PycharmProjects\\LightWeightAIModels\\backup\\historical_data.csv", parse_dates=[index_label], index_col=index_label)

In [8]:
index_label='datetime'
unique_columns = [index_label]

In [13]:
len(df_existing)

2575258

In [12]:
df_combined = df_existing.loc[~df_existing.index.duplicated(keep='last')]

In [14]:
len(df_combined)

1770203

In [16]:
mask = df_existing.duplicated

# Show all rows with duplicate indices
df_existing[mask]

                         open      high       low     close  volume
datetime
2020-11-27 10:36:00  12180.00  12180.00  12180.00  12180.00       1
2020-11-27 13:19:00     -5.60     -5.60     -5.60     -5.60       1
2020-11-27 13:34:00     -5.60     -5.60     -5.60     -5.60       1
2020-11-27 15:00:00     -5.65     -5.65     -5.65     -5.65       4
2020-11-27 15:08:00     -5.65     -5.65     -5.65     -5.65       1
...                       ...       ...       ...       ...     ...
2025-11-27 17:21:00    254.75    254.75    254.75    254.75       1
2025-11-27 17:39:00    255.00    255.00    255.00    255.00       1
2025-11-27 17:54:00    254.50    254.50    254.50    254.50       1
2025-11-27 17:54:00  25550.50  25550.50  25550.50  25550.50       1
2025-11-27 17:55:00    255.00    255.00    255.00    255.00       1

[258604 rows x 5 columns]

In [17]:
df_existing.duplicated().sum()

np.int64(258604)

In [18]:
df_existing[df_existing.duplicated()]

                         open      high       low     close  volume
datetime
2020-11-27 10:36:00  12180.00  12180.00  12180.00  12180.00       1
2020-11-27 13:19:00     -5.60     -5.60     -5.60     -5.60       1
2020-11-27 13:34:00     -5.60     -5.60     -5.60     -5.60       1
2020-11-27 15:00:00     -5.65     -5.65     -5.65     -5.65       4
2020-11-27 15:08:00     -5.65     -5.65     -5.65     -5.65       1
...                       ...       ...       ...       ...     ...
2025-11-27 17:21:00    254.75    254.75    254.75    254.75       1
2025-11-27 17:39:00    255.00    255.00    255.00    255.00       1
2025-11-27 17:54:00    254.50    254.50    254.50    254.50       1
2025-11-27 17:54:00  25550.50  25550.50  25550.50  25550.50       1
2025-11-27 17:55:00    255.00    255.00    255.00    255.00       1

[258604 rows x 5 columns]

In [21]:
df_existing.duplicated()              # checks all columns

datetime
2020-11-27 00:00:00    False
2020-11-27 00:01:00    False
2020-11-27 00:02:00    False
2020-11-27 00:03:00    False
2020-11-27 00:04:00    False
                       ...
2025-11-27 17:55:00    False
2025-11-27 17:56:00    False
2025-11-27 17:57:00    False
2025-11-27 17:58:00    False
2025-11-27 17:59:00    False
Length: 2575258, dtype: bool

In [22]:
df_existing.duplicated(subset=df_existing.columns)

datetime
2020-11-27 00:00:00    False
2020-11-27 00:01:00    False
2020-11-27 00:02:00    False
2020-11-27 00:03:00    False
2020-11-27 00:04:00    False
                       ...
2025-11-27 17:55:00    False
2025-11-27 17:56:00    False
2025-11-27 17:57:00    False
2025-11-27 17:58:00    False
2025-11-27 17:59:00    False
Length: 2575258, dtype: bool

In [23]:
df_reset = df_existing.reset_index()
df_reset.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
2575253    False
2575254    False
2575255    False
2575256    False
2575257    False
Length: 2575258, dtype: bool

In [24]:
df_existing.index.duplicated().sum()

np.int64(805055)

In [25]:
df_existing.duplicated().sum()

np.int64(258604)

In [28]:
len(df_existing)                       # original count
  # drop duplicate indices
     # drop duplicate rows

2575258

In [29]:
len(df_existing.loc[~df_existing.index.duplicated(keep='last')])

1770203

In [30]:
len(df_existing.drop_duplicates())

2316654

In [31]:

dup_index_count = df_existing.index.duplicated().sum()
print("Duplicate indices:", dup_index_count)

# Duplicate rows (whole record)
dup_row_count = df_existing.duplicated().sum()
print("Duplicate rows:", dup_row_count)

Duplicate indices: 805055
Duplicate rows: 258604

In [32]:
duplicates = df[df.duplicated(keep=False)]

print(duplicates)

                   datetime     open     high      low    close  volume
478097  2021-11-09 14:53:00  16303.0  16303.0  16303.0  16303.0       1
478100  2021-11-09 14:53:00  16303.0  16303.0  16303.0  16303.0       1
560670  2021-12-31 01:51:00  16415.0  16415.0  16415.0  16415.0       1
560671  2021-12-31 01:51:00  16415.0  16415.0  16415.0  16415.0       1

In [35]:
df_unique = df_existing.drop_duplicates(keep="last")

In [36]:
len(df_unique)

2316654

In [37]:
df_reset = df.reset_index()

In [38]:
df_unique = df_reset.drop_duplicates()

In [39]:
df_unique = df_unique.set_index("index")

In [40]:
len(df_unique)

2575258

In [41]:
print(df.duplicated().sum())   # number of duplicate rows across all columns

2

In [45]:
df_unique = df.reset_index().drop_duplicates().set_index("datetime")

In [43]:
df_unique

                    datetime      open      high       low     close  volume
index
0        2020-11-27 00:00:00  12155.75  12159.25  12151.00  12152.25     121
1        2020-11-27 00:01:00  12151.50  12154.50  12151.50  12153.25      65
2        2020-11-27 00:02:00  12154.00  12158.25  12154.00  12158.00      66
3        2020-11-27 00:03:00  12157.50  12158.00  12155.00  12155.00      35
4        2020-11-27 00:04:00  12154.75  12155.00  12154.00  12154.00      35
...                      ...       ...       ...       ...       ...     ...
2575253  2025-11-27 17:55:00  25300.25  25301.25  25299.25  25300.75      46
2575254  2025-11-27 17:56:00  25301.00  25301.75  25300.50  25301.00      33
2575255  2025-11-27 17:57:00  25300.75  25301.75  25299.00  25299.00      34
2575256  2025-11-27 17:58:00  25299.75  25301.00  25298.75  25299.75      38
2575257  2025-11-27 17:59:00  25299.50  25302.75  25299.25  25301.75      72

[2575258 rows x 6 columns]

In [46]:
print(df_unique.index)

Index(['2020-11-27 00:00:00', '2020-11-27 00:01:00', '2020-11-27 00:02:00',
       '2020-11-27 00:03:00', '2020-11-27 00:04:00', '2020-11-27 00:05:00',
       '2020-11-27 00:06:00', '2020-11-27 00:07:00', '2020-11-27 00:08:00',
       '2020-11-27 00:09:00',
       ...
       '2025-11-27 17:53:00', '2025-11-27 17:54:00', '2025-11-27 17:54:00',
       '2025-11-27 17:54:00', '2025-11-27 17:55:00', '2025-11-27 17:55:00',
       '2025-11-27 17:56:00', '2025-11-27 17:57:00', '2025-11-27 17:58:00',
       '2025-11-27 17:59:00'],
      dtype='object', name='datetime', length=2575258)